<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body
{
    padding-left:10px;
    font-size:13px;
}
h1
{
    font-size:20px;
    font-family:Verdana;
}
h4
{
    font-size:16px;
    margin-top:25px;
    margin-bottom:10px;
}

.description
{
    padding-bottom:30px;
    font-family:Verdana;
}
.description h3
{
    color:#CC0000;
    font-size:16px;
    margin:0 30px 10px 0px;
    padding:45px 0 8px;
    /*background:url(titleback.png) no-repeat scroll left bottom transparent*/
    border-bottom:solid 1px #888;
}
<!--table {-->
    <!--display: table;-->
    <!--border-collapse: separate;-->
    <!--border-spacing: 2px;-->
    <!--border-color: rgb(51, 78, 95);-->
<!--}-->


    </style>
</head>
<body>
<h1>酒店基础信息管理</h1>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="/scripts/main/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="../styles/demo.css">
<link rel="stylesheet" href="../styles/miniui.css">
<link rel="stylesheet" href="../styles/common.css">
<link rel="stylesheet" href="../styles/icons.css">
<!--<link rel="stylesheet" href="../styles/skin.css">-->
<link rel="stylesheet" href="../styles/medium-mode.css">
<link rel="stylesheet" href="../styles/large-mode.css">
<script type="text/javascript" src="../scripts/Boot2.js"></script>
<script type="text/javascript" src="../scripts/miniui.js"></script>
<script type="text/javascript" src="../scripts/common.js"></script>



<div style="width:800px;">
    <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
        <table style="width:100%;">
            <tr>
                <td style="width:100%;">
                    <a class="mini-button" iconCls="icon-add" onclick="addRow()" plain="true" tooltip="增加...">增加</a>
                    <a class="mini-button" iconCls="icon-remove" onclick="removeRow()" plain="true">删除</a>
                    <span class="separator"></span>
                    <a class="mini-button" iconCls="icon-save" onclick="saveData()" plain="true">保存</a>
                </td>
                <td style="white-space:nowrap;">
                    <input id="key" class="mini-textbox" emptyText="请输入姓名" style="width:150px;" onenter="onKeyEnter"/>
                    <a class="mini-button" onclick="search()">查询</a>
                </td>
            </tr>
        </table>
    </div>
</div>
        <div id="datagrid1" class="mini-datagrid" style="width:800px;height:280px;"
     url="/AjaxService.jsp?method=SearchEmployees" idField="id"
     allowResize="true" pageSize="20"
     allowCellEdit="true" allowCellSelect="true" multiSelect="true"
     editNextOnEnterKey="true"  editNextRowCell="true">
    <div property="columns">
        <div type="indexcolumn"></div>
        <div type="checkcolumn"></div>
        <div name="LoginName"  field="loginname" headerAlign="center" allowSort="true" width="150" >酒店ID
            <input property="editor" class="mini-textbox" style="width:100%;" minWidth="200" />
        </div>
        <div field="age" width="100" allowSort="true" >酒店名称
            <input property="editor" class="mini-spinner"  minValue="0" maxValue="200" value="25" style="width:100%;"/>
        </div>
        <div field="age" width="100" allowSort="true" >酒店城市
            <input property="editor" class="mini-spinner"  minValue="0" maxValue="200" value="25" style="width:100%;"/>
        </div>
        <!--<div name="birthday" field="birthday" width="100" allowSort="true" dateFormat="yyyy-MM-dd">出生日期-->
            <!--<input property="editor" class="mini-datepicker" style="width:100%;"/>-->
        <!--</div>-->
        <div field="remarks" width="120" headerAlign="center" allowSort="true">酒店商圈
            <input property="editor" class="mini-textarea" style="width:200px;" minWidth="200" minHeight="50"/>
        </div>
        <!--ComboBox：本地数据-->
        <!--<div type="comboboxcolumn" autoShowPopup="true" name="gender" field="gender" width="100" allowSort="true"  align="center" headerAlign="center">酒店星级-->
            <!--<input property="editor" class="mini-combobox" style="width:100%;" data="Genders" />-->
        <!--</div>-->
        <!--ComboBox：远程数据-->
        <!--<div type="comboboxcolumn" field="country" width="100" headerAlign="center" >国家-->
            <!--<input property="editor" class="mini-combobox" style="width:100%;" data="country" />-->
        <!--</div>-->
        <div field="remarks" width="120" headerAlign="center" allowSort="true">酒店排名
            <input property="editor" class="mini-textarea" style="width:200px;" minWidth="200" minHeight="50"/>
        </div>
        <!--<div type="checkboxcolumn" field="married" trueValue="1" falseValue="0" width="60" headerAlign="center">婚否</div>-->
    </div>
</div>
<script type="text/javascript">

        var Genders = [{ id: 1, text: '男' }, { id: 2, text: '女'}];
        var country = [{ id: 1, text: '北京' },{ id: 2, text: '上海'},{ id: 3, text: '深圳'}];
debugger;
        mini.parse();

        var grid = mini.get("datagrid1");
        grid.load();


        //////////////////////////////////////////////////////

        function search() {
            var key = mini.get("key").getValue();

            grid.load({ key: key });
        }

        function onKeyEnter(e) {
            search();
        }

        function addRow() {
            var newRow = { name: "New Row" };
            grid.addRow(newRow, 0);

            grid.beginEditCell(newRow, "LoginName");
        }
        function removeRow() {
            var rows = grid.getSelecteds();
            if (rows.length > 0) {
                grid.removeRows(rows, true);
            }
        }
        function saveData() {

            var data = grid.getChanges();
            var json = mini.encode(data);

            grid.loading("保存中，请稍后......");
            $.ajax({
                url: "/Grid/SaveEmployees",
                data: { data: json },
                type: "post",
                success: function (text) {
                    grid.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                }
            });
        }


        grid.on("celleditenter", function (e) {
            var index = grid.indexOf(e.record);
            if (index == grid.getData().length - 1) {
                var row = {};
                grid.addRow(row);
            }
        });

    </script>

<div class="description">
    <h3>Description</h3>
    <ul>
        <li>方向键导航单元格</li>
        <li>按回车键进入编辑</li>
        <li>按ESC键取消编辑</li>
        <li>按Tab键进入下一个单元格编辑</li>
        <li>editNextOnEnterKey="true"后，按回车键进入下一个单元格编辑</li>
    </ul>
</div>
</body>
</html>