<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        .more-condition {
            padding: 8px 0;
            text-align: left;
        }

        .more-condition span.input-msg {
            margin-left: -80px;
            right: auto;
            top: -10px;
        }

        .more-condition .clearBtn {
            color: #fff;
        }

        .adv-query {
            background-color: #eaf0ff;
            border: 1px solid #d7d7d7;
            margin: 5px 0;
            text-align: center;
        }

        .adv-query > a {
            color: #1984b6;
            font-size: 14px;
        }

        .sort {
            cursor: pointer;
        }

        .more-condition:hover .clearBtn {
            color: #7c7c7c;
        }

        .row {
            margin-bottom: 0;
        }

        .condition-box {
            color: #1984b6;
            margin: 0;
            border: none;
            background-color: #fff;
            padding-bottom: 0;
            padding-top: 6px;
        }

        .more-condition .title {
            float: left;
            width: 116px;
            text-align: right;
        }

        td.followchoose {
            /*display:block;*/
            /*border-color:#6BC3FE;*/
            background-color: #EAF3FF;
        }

        .radar-list td:hover {
            background-color: #EAF3FF;
        }

        .shishiBtn {
            border: 1px solid red;
            border-radius: 4px;
            color: red;
            font-size: 12px;
            font-weight: normal;
            display: inline-block;
            height: 16px;
            line-height: 15px;
            vertical-align: middle;
        }

        element.style {
            display: block;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
.box1{float: left;}

.box2{float:left;}

    </style>
</head>
<body>

<link rel="stylesheet" href="../styles/base.css">
<script type="text/javascript" src="/scripts/main/echarts.min.js"></script>
<div class="devoops_tabsa" id="tabsa">
    <!--<a href="javascript: void(0);" js-click="changeTab" data-id="1" _ping_back_="changeTab" _ping_back_time_btn_="需跟进" class="current">用户评价</a>-->
    <a href="javascript: void(0);" js-click="changeTab" style="display:none;" data-id="2" _ping_back_="changeTab"
       _ping_back_time_btn_="对账" class="current">产量分析</a>
    <!--<a href="javascript: void(0);" js-click="changeTab" data-id="3" _ping_back_="changeTab" _ping_back_time_btn_="误差">误差</a>-->
    <!--<a href="javascript: void(0);" js-click="changeTab" data-id="4" _ping_back_="changeTab" _ping_back_time_btn_="催款">催款</a>-->
    <!--<a href="javascript: void(0);" js-click="changeTab" data-id="5" _ping_back_="changeTab" _ping_back_time_btn_="应收调整">应收调整</a>-->
</div>
<div></div>

<div js-text="tab2">
    <div class="data-box">
        <div style="padding: 10px;">
            <table class="radar-list2" id="Acount_total">
                <tbody>
                <tr>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <th colspan="2">时间进度</th>
                            </tr>
                            <tr>
                                <td>
                                    <!--<div class="percentage"><i class="ico-time"></i><strong id="day_pre">-</strong>%</div>-->
                                    <div class="percentage"><img src="../images/ico-time.png" alt=""><strong
                                            id="day_pre">89</strong>%
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <p>至今</p>
                                        <p><strong id="now_date">03-26</strong></p>
                                    </div>
                                    <div class="progress">
                                        <p>结束</p>
                                        <p><strong id="end_date">03-31</strong></p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <th colspan="2">产量同比上月 <span class="shishiBtn">实时</span></th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="percentage" style="color: #00b588;">
                                        <img src="../images/ico-good.png" alt="">
                                        <strong id="last_pre">92</strong>%
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <p>本月总产量</p>
                                        <p><strong id="confirmcounts_last">6797</strong></p>
                                    </div>
                                    <div class="progress">
                                        <p>上月总产量</p>
                                        <p><strong id="totalcounts_last">7810</strong></p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <th colspan="2">本月平均售价同比 <span class="shishiBtn">实时</span></th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="percentage" style="color: #d81e06;">
                                        <img src="../images/ico-bad.png" alt="">

                                        <strong id="now_pre">87.43</strong>%
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <p>本月平均售价</p>
                                        <p><strong id="confirmcounts">629.9</strong></p>
                                    </div>
                                    <div class="progress">
                                        <p>上月平均售价</p>
                                        <p><strong id="totalcounts">678.43</strong></p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <th colspan="2">当月产量</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="percentage" style="color: #d81e06;">
                                        <strong id="ebkTotal">6797</strong>
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <p>高星产量</p>
                                        <p><strong id="ebkHighStar">4583</strong></p>
                                    </div>
                                    <div class="progress">
                                        <p>低星产量</p>
                                        <p><strong id="ebkLowStar">2214</strong></p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<!--<div id="main" style="width:100%;" border="1px">-->

    <!--&lt;!&ndash;<div id="chartmain" style="width:49%; height: 400px;margin-left: 1%;" style="display:inline"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div id="chartmain2" style="width:49%px; height: 400px;float:left" style="display:inline"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div id="chartmain2" style="width:75%;float:left;"></div>&ndash;&gt;-->
    <!--<table width="100%" border="1px">-->
        <!--<tr>-->
            <!--<td  style="width:49%; height: 400px;margin-left: 1%;">-->
                <!--&lt;!&ndash;<div id="chartmain" style="width:49%; height: 400px;margin-left: 1%;" style="display:inline"></div>&ndash;&gt;-->
            <!--</td>-->
            <!--<td  style="width:49%px; height: 400px;float:right">-->
                <!--<div id="chartmain2" style="width:49%px; height: 400px;float:right" style="display:inline"></div>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->
<!--</div>-->



<div  id="chartmain" style=" height: 500px;"></div>
<!--<div  id="chartmain2" style="width:100%; height: 500px;margin-left: 1%;"></div>-->

<div id="chanliangBYMonth" style="width:90%; height: 500px;margin-left: 1%;"></div>

<script type="text/javascript">
    option = {
    title : {
        text: '按酒店评级',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: ‘center’,
        bottom:‘bottom’,
        data: ['A级','B级','C级','D级','E级']
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:[
                {value:340, name:'A级'},
                {value:178, name:'B级'},
                {value:345, name:'C级'},
                {value:127, name:'D级'},
                {value:240, name:'E级'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
var myChart = echarts.init(document.getElementById('chartmain'));

        //使用制定的配置项和数据显示图表
        myChart.setOption(option);


</script>
<!--<script type="text/javascript">-->

       <!--option2 = {-->
    <!--title : {-->
        <!--text: '按星级占比',-->
        <!--x:'center'-->
    <!--},-->
    <!--tooltip : {-->
        <!--trigger: 'item',-->
        <!--formatter: "{a} <br/>{b} : {c} ({d}%)"-->
    <!--},-->
    <!--legend: {-->
        <!--orient: 'vertical',-->
        <!--left: 'left',-->
        <!--bottom:‘bottom’,-->
        <!--data: ['五星','四星','三星','二星','一星']-->
    <!--},-->
    <!--series : [-->
        <!--{-->
            <!--name: '星级占比',-->
            <!--type: 'pie',-->
            <!--radius : '55%',-->
            <!--center: ['50%', '60%'],-->
            <!--data:[-->
                <!--{value:335, name:'五星'},-->
                <!--{value:310, name:'四星'},-->
                <!--{value:234, name:'三星'},-->
                <!--{value:135, name:'二星'},-->
                <!--{value:1548, name:'一星'}-->
            <!--],-->
            <!--itemStyle: {-->
                <!--emphasis: {-->
                    <!--shadowBlur: 10,-->
                    <!--shadowOffsetX: 0,-->
                    <!--shadowColor: 'rgba(0, 0, 0, 0.5)'-->
                <!--}-->
            <!--}-->
        <!--}-->
    <!--]-->
<!--};-->
        <!--var myChart2 = echarts.init(document.getElementById('chartmain2'));-->

        <!--//使用制定的配置项和数据显示图表-->
        <!--myChart2.setOption(option2);-->


<!--</script>-->
<script>
    option = {
    title: {
        text: '产量按月趋势图（按星级）',
        x:'center'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['五星','四星','三星','二星','一星'],
        bottom:'bottom'
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['2018-06','2018-07','2018-08','2018-09','2018-10',
        '2018-11','2019-01','2019-02','2019-03','2019-04']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:'五星',
            type:'line',
            stack: '总量',
            data:[120, 132, 101, 134, 90, 230, 210,132, 234, 134]
        },
        {
            name:'四星',
            type:'line',
            stack: '总量',
            data:[220, 182, 191, 234, 290, 330, 310, 232, 201, 154]
        },
        {
            name:'三星',
            type:'line',
            stack: '总量',
            data:[150, 232, 201, 154, 190, 330, 410, 291, 234, 290]
        },
        {
            name:'二星',
            type:'line',
            stack: '总量',
            data:[320, 332, 301, 334, 390, 330, 320,332, 301, 334]
        },
        {
            name:'一星',
            type:'line',
            stack: '总量',
            data:[820, 932, 901, 934, 1290, 1330, 1320, 932, 901, 934]
        }
    ]
};
var myChart = echarts.init(document.getElementById('chanliangBYMonth'));

        //使用制定的配置项和数据显示图表
        myChart.setOption(option);
</script>
<script type="text/javascript" src="/scripts/main/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/scripts/main/C.Chart.js"></script>
<script type="text/javascript" src="/scripts/main/C.base.js"></script>
<script type="text/javascript" src="/scripts/main/site/financethl.js"></script>
</body>
</html>
