<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        .more-condition {
            padding: 8px 0;
            text-align: left;
        }

        .more-condition span.input-msg {
            margin-left: -80px;
            right: auto;
            top: -10px;
        }

        .more-condition .clearBtn {
            color: #fff;
        }

        .adv-query {
            background-color: #eaf0ff;
            border: 1px solid #d7d7d7;
            margin: 5px 0;
            text-align: center;
        }

        .adv-query > a {
            color: #1984b6;
            font-size: 14px;
        }

        .sort {
            cursor: pointer;
        }

        .more-condition:hover .clearBtn {
            color: #7c7c7c;
        }

        .row {
            margin-bottom: 0;
        }

        .condition-box {
            color: #1984b6;
            margin: 0;
            border: none;
            background-color: #fff;
            padding-bottom: 0;
            padding-top: 6px;
        }

        .more-condition .title {
            float: left;
            width: 116px;
            text-align: right;
        }

        td.followchoose {
            /*display:block;*/
            /*border-color:#6BC3FE;*/
            background-color: #EAF3FF;
        }

        .radar-list td:hover {
            background-color: #EAF3FF;
        }

        .shishiBtn {
            border: 1px solid red;
            border-radius: 4px;
            color: red;
            font-size: 12px;
            font-weight: normal;
            display: inline-block;
            height: 16px;
            line-height: 15px;
            vertical-align: middle;
        }

        element.style {
            display: block;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>
<body>

<link rel="stylesheet" href="../styles/base.css">
<div class="devoops_tabsa" id="tabsa">
    <!--<a href="javascript: void(0);" js-click="changeTab" data-id="1" _ping_back_="changeTab" _ping_back_time_btn_="需跟进" class="current">用户评价</a>-->
    <a href="javascript: void(0);" js-click="changeTab" data-id="2" _ping_back_="changeTab" _ping_back_time_btn_="对账" class="current" >产量分析</a>
    <!--<a href="javascript: void(0);" js-click="changeTab" data-id="3" _ping_back_="changeTab" _ping_back_time_btn_="误差">误差</a>-->
    <!--<a href="javascript: void(0);" js-click="changeTab" data-id="4" _ping_back_="changeTab" _ping_back_time_btn_="催款">催款</a>-->
    <!--<a href="javascript: void(0);" js-click="changeTab" data-id="5" _ping_back_="changeTab" _ping_back_time_btn_="应收调整">应收调整</a>-->
</div>
<div></div>

<div js-text="tab2">
    <div class="data-box">
        <div style="padding: 10px;">
            <table class="radar-list2" id="Acount_total">
                <tbody>
                <tr>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <th colspan="2">时间进度</th>
                            </tr>
                            <tr>
                                <td>
                                    <!--<div class="percentage"><i class="ico-time"></i><strong id="day_pre">-</strong>%</div>-->
                                    <div class="percentage"><img src="../images/ico-time.png" alt=""><strong id="day_pre">89</strong>%</div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <p>至今</p>
                                        <p><strong id="now_date">03-26-</strong></p>
                                    </div>
                                    <div class="progress">
                                        <p>结束</p>
                                        <p><strong id="end_date">03-31</strong></p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <th colspan="2">历史对账进度 <span class="shishiBtn">实时</span></th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="percentage" style="color: #00b588;">
                                        <img src="../images/ico-good.png" alt="">
                                        <strong id="last_pre">92</strong>%
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <p>完成家数</p>
                                        <p><strong id="confirmcounts_last">5797</strong></p>
                                    </div>
                                    <div class="progress">
                                        <p>总家数</p>
                                        <p><strong id="totalcounts_last">7810</strong></p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <th colspan="2">本月对账进度 <span class="shishiBtn">实时</span></th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="percentage" style="color: #d81e06;">
                                        <img src="../images/ico-bad.png" alt="">

                                        <strong id="now_pre">87.43-</strong>%
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <p>完成家数</p>
                                        <p><strong id="confirmcounts">5629</strong></p>
                                    </div>
                                    <div class="progress">
                                        <p>总家数</p>
                                        <p><strong id="totalcounts">8937</strong></p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <th colspan="2">当月确认率</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="percentage" style="color: #d81e06;">
                                        <strong id="ebkTotal">45782</strong>%
                                    </div>
                                </td>
                                <td>
                                    <div class="progress">
                                        <p>高星确认家数</p>
                                        <p><strong id="ebkHighStar">34871</strong></p>
                                    </div>
                                    <div class="progress">
                                        <p>低星确认家数</p>
                                        <p><strong id="ebkLowStar">17583</strong></p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="adv-query">
            <a js-click="showAdvancedOpts" href="javascript:;" class="up">高级筛选</a>
            <div class="charts_box condition-box">
                <div>
                    <div class="one-part" style="width: 33%">
                        <div class="more-condition">
                            <label class="title" style="width: 186px;">
                                <e js-t="tabMoreTitle">财务确认佣金（人民币）</e>
                                ：
                            </label>
                            <input type="text" name="condtion_ta_commission" />
                            -
                            <input type="text" name="condtion_tb_commission" />
                            &nbsp; &nbsp; <a js-click="clear" class="clearBtn">清除</a>
                        </div>
                    </div>
                    <div class="one-part" style="width: 33%">
                        <div class="more-condition">
                            <label class="title">
                                <e js-t="tabMoreTitle">平均对账周期</e>
                                ：
                            </label>
                            <input type="text" name="condtion_na_reconciliation" />
                            -
                            <input type="text" name="condtion_nb_reconciliation" />
                            &nbsp; &nbsp; <a js-click="clear" class="clearBtn">清除</a>
                        </div>
                    </div>
                    <div class="one-part" style="width: 33%">
                        <div class="more-condition">
                            <label class="title">
                                <e js-t="tabMoreTitle">平均汇款周期</e>
                                ：
                            </label>
                            <input type="text" name="condtion_na_remittancecycle" />
                            -
                            <input type="text" name="condtion_nb_remittancecycle" />
                            <a js-click="clear" class="clearBtn">清除</a>
                        </div>
                    </div>
                    <div class="one-part" style="width: 66%">
                        <div class="more-condition">
                            <label class="title">
                                <e js-t="tabMoreTitle">EBK核对进度</e>
                                ：
                            </label>
                            <label style="width: 60px; cursor: pointer;">
                                <input type="checkbox" name="bookingbatchauditstatus" value="账单生成中" checked="checked" />账单生成中</label>
                            <label style="width: 60px; cursor: pointer;">
                                <input type="checkbox" name="bookingbatchauditstatus" value="携程拒绝" checked="checked" />携程拒绝</label>
                            <label style="width: 60px; cursor: pointer;">
                                <input type="checkbox" name="bookingbatchauditstatus" value="携程待确认" checked="checked" />携程待确认</label>
                            <label style="width: 60px; cursor: pointer;">
                                <input type="checkbox" name="bookingbatchauditstatus" value="供应商待确认" checked="checked" />供应商待确认</label>


                        </div>
                    </div>
                    <div class="one-part" style="width: 33%">
                        <div class="more-condition">
                            <label class="title">
                                <e js-t="tabMoreTitle">合作状态</e>
                                ：
                            </label>
                            <label style="width: 60px; cursor: pointer;">
                                <input type="checkbox" name="isbookable" value="T" checked="checked" />合作</label>
                            <label style="width: 60px; cursor: pointer;">
                                <input type="checkbox" name="isbookable" value="F" checked="checked" />非合作</label>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
                <div class="more-condition" style="padding: 0px;"></div>
                <div class="more-condition" style="text-align: center;">
                    <span class="btn" js-click="conditionOk" style="width: 50px; line-height: 22px;" _ping_back_="serachBtn" _ping_back_time_btn_="">确定</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="float: left; margin-bottom: -1px; border: 0px solid #afc4ff; font-size: 16px; color: black; font-weight: 600; border-radius: 3px 3px 0px 0px; padding: 0px 20px;">
                <span>共 <span id="hotelcounts" style="font-size: 19px;">-</span>家酒店<span>，<span style="font-size: 19px;" id="AcountTotal">-</span>条数据</span></span>
            </div>
            <div class="divcolor" style="position: relative; bottom: -5px;">
                <a class="func-point-d" style="float: right;" href="javascript:;" title="下载" js-click="pdfBtn2" _ping_back_="download" _ping_back_time_btn_="">
                    <i class="ico-download-d"></i><span>下载</span>
                </a>
            </div>
        </div>
        <div class="charts_box" style="margin-top: -1px;">
            <div class="box-content" style="height: auto;">
                <table class="tb off-table-rank">
                    <tr>
                        <th>序号</th>
                        <th>酒店ID</th>
                        <th style="width: 150px">酒店名称</th>
                        <th class="sort">佣金年月<i data-value="1"></i></th>
                        <th class="sort">财务确认间夜<i data-value="3"></i></th>
                        <th class="sort">财务确认佣金（人民币）<i class="sort-up sort-down" data-value="4"></i></th>
                        <th class="sort abroadGroup">财务确认佣金（原币）<i data-value="7"></i></th>
                        <th class="sort abroadGroup">币种</th>
                        <th class="sort">平均对账周期<i data-value="5"></i></th>
                        <th class="sort">平均汇款周期<i data-value="6"></i></th>
                    </tr>
                    <tbody id="ReconciliationTable">
                    </tbody>
                </table>
            </div>
            <div id="pager" style="float: right; height: 35px; margin-top: -8px;"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/main/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/scripts/main/C.Chart.js"></script>
<script type="text/javascript" src="/scripts/main/C.base.js"></script>
<!--<script type="text/javascript" src="/scripts/main/site/financethl.js"></script>-->
</body>
</html>
