<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjp.mapper.PriceMapper">

    <select id="getGeryList" resultType="com.zjp.model.GeryPrice">
        SELECT source FROM t_black WHERE domain=#{domain} GROUP BY source;
    </select>

</mapper>