<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjp.mapper.HotelMapper">

    <select id="getHotelScore" resultType="com.zjp.model.HotelScore">
        SELECT * FROM hotel_score ORDER BY good_num
    </select>

    <select id="countHotelScore" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM hotel_score
    </select>

    <select id="getCommissionScore" resultType="com.zjp.model.Commission">
        SELECT * FROM commission_follow
        <where>
            <if test="min1!=null and min1!=''">not_recipients &gt;= #{min1}</if>
            <if test="max1!=null and max1!=''">and not_recipients &lt;= #{max1}</if>
            <if test="min2!=null and min2!=''">and debt_batch &gt;= #{min2}</if>
            <if test="max2!=null and max2!=''">and debt_batch &lt;= #{max2}</if>
        </where>
        ORDER BY <if test="sort!=null and sort!=''">#{sort}</if> DESC
    </select>

    <select id="countCommissionScore" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM commission_follow
        <where>
            <if test="min1!=null and min1!=''">not_recipients &gt;= #{min1}</if>
            <if test="max1!=null and max1!=''">and not_recipients &lt;= #{max1}</if>
            <if test="min2!=null and min2!=''">and debt_batch &gt;= #{min2}</if>
            <if test="max2!=null and max2!=''">and debt_batch &lt;= #{max2}</if>
        </where>
    </select>

</mapper>